<form th:fragment="loginForm (path, isRegisterForm)" th:action="${path}" method="post">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">User Name :</label>
		<div class="col-sm-6">
			<input type="text" name="username" th:value="${user} ? ${user.username}" th:class="form-control"
				th:classappend="${!#strings.isEmpty(usernameError)} ? is-invalid" placeholder="User name" />
			<div th:text="${!#strings.isEmpty(usernameError)} ? ${usernameError}" class="invalid-feedback" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Password:</label>
		<div class="col-sm-6">
			<input type="password" name="password" th:class="form-control" th:classappend="${!#strings.isEmpty(passwordError)} ? is-invalid"
				placeholder="Password" />
			<div th:text="${!#strings.isEmpty(passwordError)} ? ${passwordError}" class="invalid-feedback" />
		</div>
	</div>
	<div th:if="${isRegisterForm}">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Password:</label>
			<div class="col-sm-6">
				<input type="password" name="password2" th:class="form-control" th:classappend="${!#strings.isEmpty(password2Error)} ? is-invalid"
					placeholder="Retype password" />
				<div th:text="${!#strings.isEmpty(password2Error)} ? ${password2Error}" class="invalid-feedback" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Email:</label>
			<div class="col-sm-6">
				<input type="email" name="email" th:value="${user} ? ${user.email}" th:class="form-control"
					th:classappend="${!#strings.isEmpty(emailError)} ? is-invalid" placeholder="some@some.com" />
				<div th:text="${!#strings.isEmpty(emailError)} ? ${emailError}" class="invalid-feedback" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="g-recaptcha" data-sitekey="6LfVL8IZAAAAAHCo5qRMyeRfZAEvzW97tEOX2n1J"></div>
			<div class="alert alert-danger" th:if="${captchaError}" th:text="${captchaError}" role="alert" />
		</div>
	</div>
	<a th:if="${!isRegisterForm}" href="/registration">Sign up </a>
	<button class="btn btn-primary" th:if="${!isRegisterForm}" type="submit">Sign in</button>
	<button class="btn btn-primary" th:if="${isRegisterForm}" type="submit">Create</button>
</form>

<form th:fragment="logoutForm" th:action="@{/logout}" method="post">
	<button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()">Sign Out</button>
	<button type="submit" class="btn btn-primary" sec:authorize="!isAuthenticated()">Sign In</button>
</form>